/*
 * JBoss, Home of Professional Open Source
 * Copyright 2012 Red Hat Inc. and/or its affiliates and other contributors
 * as indicated by the @author tags. All rights reserved.
 * See the copyright.txt in the distribution for a
 * full listing of individual contributors.
 *
 * This copyrighted material is made available to anyone wishing to use,
 * modify, copy, or redistribute it subject to the terms and conditions
 * of the GNU Lesser General Public License, v. 2.1.
 * This program is distributed in the hope that it will be useful, but WITHOUT A
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
 * PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.
 * You should have received a copy of the GNU Lesser General Public License,
 * v.2.1 along with this distribution; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA  02110-1301, USA.
 */

root {
    display: block;
}

#container {
    width: 1400px;
    margin: 0 0 0 20px; /* top right bottom left */
    padding: 0;
}

#container label {
    font-weight: bolder;
    margin-right: 10px;
}

#toppanel {
    margin-bottom: 10px;
    margin-top: 10px;
}

#column1 {
    width: 300px;
    float: left;
}

#col2side {
    margin-left: 10px;
    width: 1090px;
    float: right;
}

.alignTop td {
    vertical-align: top;
}